{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 9
  },
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "quotes": ["error", "single"],
    "space-infix-ops": ["error"],
    "space-unary-ops": ["error"]
  }
}
