{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 8
  },
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "space-infix-ops": ["error"],
    "space-unary-ops": ["error"]
  }
}
